@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradientMove 6s linear infinite;
}

@keyframes shine {
  0% { transform: translateX(-100%); }
  60%, 100% { transform: translateX(100%); }
}

.animate-shine {
  animation: shine 3s ease-in-out infinite;
}

@keyframes rotateBorder {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-rotate-border {
  animation: rotateBorder 2s linear infinite;
}
